# autotools
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/libtool
.deps/
/m4/
/stamp-h1
/liblinear.pc
/Makefile
/doc/Makefile
/include/Makefile
/include/linear/Makefile
/include/linear/private/Makefile
/sample/Makefile
/src/Makefile
/test/Makefile
        
# objects
.libs/
*.la
*.lo
*.a
*.o
*.so

# samples, tests and test logs
/sample/*_sample
/sample/lperf
/test/*_test
/test/run_tests
/test/*.log
/test/*.trs

# created files
/doc/html/
/include/linear/memory.h
/include/linear/version.h

# depend sources
/deps/gmock-1.7.0/

# gyp
/build/
/linear-package/
/configure.pyc
/tools/*.pyc

# windows
/Debug/
/Release/
/*.vcxproj
/*.vcxproj.user
/*.filters
/*.sdf
/*.sln
/*.suo
