branches:
  only:
    - master
    - develop

language: cpp

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

before_script:
  - echo $LANG
  - echo $LC_ALL
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then sudo apt-get -qq update && sudo apt-get -qq install libssl-dev; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then brew update && brew install libtool openssl; fi
  - git submodule update --init --recursive
  - ./bootstrap
  - if [[ $TRAVIS_OS_NAME == "linux" ]]; then ./configure --with-ssl --with-test; fi
  - if [[ $TRAVIS_OS_NAME == "osx" ]]; then ./configure --with-ssl=/usr/local/opt/openssl --with-test; fi

script:
  - make clean all
  - cd test
  - ./any_test
  - ./optional_test
  - ./run_tests

notifications:
  email: false
